# Ignore test files and config files
__tests__/
*.test.js
*.spec.js

# Ignore any local environment or configuration files
.env
*.config.js

# Ignore any temporary or system files
*.log
*.swp
.DS_Store
Thumbs.db

# Ignore other non-essential files
*.md~
.idea/
.vscode/
.node_modules/
